section {
    background-image: url('astronaut-space-laptop.jpg');
    background-attachment: fixed;
    background-size: auto;
    min-height: 5000px;
    max-height: 10000px;

    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.content {
    width: 60%;
    height: 100vh;
}

.block-content {
    overflow: hidden;
}

.content>ul {
    padding: 32px;
}

.list-group {
    height: 100%;
}

.list-group-item-image {

    margin: 15px;
}

.list-group-item-image>img {
    height: 170px;
    width: auto;

}

.list-group-item {
    display: flex;
}

.list-group-item-description {
    margin: 15px;
    overflow: hidden;
    margin-bottom: 0px;
}

@media (max-width: 1330px) {

    .content {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .content {
        width: 100%;
    }

    .list-group-item {
        display: block;
    }
}

@media (max-width: 370px) {
    .list-group-item-image>img {
        width: 200px;
        height: auto;
    }
}

.article-page>.list-group {
    padding: 32px;
    padding-bottom: 0px;
}

.article-page>.list-group>.list-group-item {
    display: block;
}

.article-page>.list-group>.list-group-item>img {
    width: 100%;
}


.mb-3>.form-label {
    color: white;
    font-size: 20px;
}

.mb-3>.box-box-form>.form-label {
    color: white;
    font-size: 20px;
}

.box-for-button {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.box-form {
    display: flex;
    justify-content: center;
}

.block-for-title-for-forms {
    display: flex;
    justify-content: center;
}

.title-for-forms {
    color: white;
    margin: 50px;
}

.ttt {
    display: table-cell;
    vertical-align: inherit;
}

header>nav>.container-fluid>.navbar-collapse {
    justify-content: space-between;
}

.block-for-comments>h3 {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rating {
    display: flex;
}

.num-of-rating {
    padding: 5px;
}

.block-for-comments {
    padding: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.rating>a>.btn-warning {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating>a>.btn-success {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating>a>.btn-danger {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-of-rating {
    padding-left: 10px;
    padding-right: 10px;
}

.comments-in-user-page>.list-group>.list-group-item {
    display: block;
}

.title-comments {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-articles {
    padding-top: 30px;
    padding-bottom: 30px;
}

.user-page-block-for-image-and-title {
    display: flex;
}

.block-for-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.block-for-image {
    width: 40%;
}

.block-for-image>img {
    width: 100%;
    height: auto;
}

.user-page-title {
    font-size: 60px;
}

.article-rating {
    padding: 3px;
}

.comment-rating {
    padding: 3px;
}