{% extends 'articles/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="article-page">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{ article.title }}</h1>
                <p>Автор - {{ article.author }}</p>
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="image">
                {% endif %}
                <p>{{ article.text|linebreaks }}</p>
                <p>{{ article.date }}</p>
                <a href="{% url 'article_rating' article.pk %}"><i class="fa-regular fa-heart"></i></a> {{ article_rating }}
                {% if request.user == article.author %}
                <a href="{% url 'delete' article.pk %}">Delete</a>
                <a href="{% url 'edit' article.pk %}">Edit</a>
                {% endif %}
            </li>
          </ul>

          <div class="block-for-comments">
              <h3>Коментарии</h3>
              <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <p>
                            <label for="id_text"></label>
                            <textarea name="text" cols="40" rows="10" required id="id_text" style="height: 30px;"></textarea>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
              </form>
          </div>

          <ul class="list-group">
              {% for comment in comments %}
                <li class="list-group-item">
                    <h3>{{ comment.body.author }}</h3>
                    <p>{{ comment.body.date }}</p>
                    <p>{{ comment.body.text }}</p>
                    <a href="{% url 'comment_rating' comment.body.pk %}"><i class="fa-regular fa-heart"></i></a> {{ comment.rating }}
                </li>
              {% endfor %}
          </ul>
</div>
{% endblock %}
