{% extends 'articles/base.html' %}
{% load static %}

{% block title %}
{{ request.user }}
{% endblock %}

{% block body %}
<div class="article-page">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="user-page-block-for-image-and-title">            
                    <div class="block-for-image">
                        {% if user.image %}
                        <img src="{{ user.image.url }}" alt="">
                        {% else %}
                        <img src="{% static 'articles/images/astronaut.avif' %}" alt="avatar">
                        {% endif %}
                    </div>
                    <div class="block-for-title"><h1 class="user-page-title">{{ user.username }}</h1></div>
                </div>
                <h3 class="title-articles">Опубликованные статьи: </h3>
                {% if articles %}
                <ul class="list-group">
                    {% for article in articles %} 
                    <li class="list-group-item">
                        <a href="{{ article.get_absolute_url }}">
                            {% if article.image %}
                            <div class="list-group-item-image"><img src="{{ article.image.url }}" alt="image"></div>
                            {% endif %}
                            <div class="list-group-item-description">
                                <h2>{{ article.title }}</h2>
                                <p>{{ article.text|truncatewords:20 }}</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                  </ul>
                {% else %}
                    <p>Вы ничего не публиковали</p>
                {% endif %}
                <h3 class="title-comments">Комментарии: </h3>
                {% if comments %}
                <div class="comments-in-user-page">
                    <ul class="list-group">
                        {% for comment in comments %}
                          <li class="list-group-item">
                              <h3>{{ comment.author }}</h3>
                              <p>{{ comment.date }}</p>
                              <p>{{ comment.text }}</p>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}

                {% endif %}
            </li>
          </ul>
</div>
{% endblock %}